<!--kappa-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Exo+2:100italic' rel='stylesheet' type='text/css'>
:sass
  #nav
    ul
      list-style: none
      padding: 0px
      margin: 20px
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75)
      height: 40px
      width: 222px
      a
        li
          background-color: #363636
          float: left
          color: #fff
          margin-right: 1px
          height: 40px
          width: 40px
          text-align: center
          text-indent: -9999px
          background-image: url('http://jjcm.org/images/header.png')
        li:hover
          cursor: pointer
          opacity: 0.95
        li#profileLink
          width: 140px
        li#artLink
          background-position: -141px
        li#blogLink
          background-position: -182px
      a:last-child
        li
          margin-right: 0px
  h1
    font-family: 'Open Sans', sans-serif
    font-size: 80px
    text-transform: uppercase
    margin-top: -20px
    margin-bottom: 32px
  .howToPlay
    font-family: 'Open Sans', sans-serif
    font-size: 40px
    text-transform: uppercase
  h2, h3
    font-family: 'Open Sans', sans-serif
    font-size: 40px
    margin-bottom: 32px
    margin-top: 92px
    text-transform: uppercase
  h3
    font-size: 20px
    color: #FF3636
    margin-top: 20px
    margin-bottom: -8px
    color: #368198
  h4
    font-family: 'Exo', sans-serif
    font-weight: 100
    font-style: italic
    font-size: 16px
    margin-top: 40px
  p
    line-height: 150%
  a
    color: #067dec
    text-decoration: none
    

  body
    background-color: #2d2d2b 
    font-family: arial, helvetica, sans-serif
    font-size: 16px
    color: #ddd
  video
    margin-bottom: 8px

  #header
    
    #hero, #hero_bg
      width: 100%
      min-width: 1024px
      position: absolute
      z-index: -2
      top: 0
      left: 0
    #hero_bg
      z-index: -1
    .like
      font-family: 'Open Sans', sans-serif
      font-size: 20px
      text-transform: uppercase
      .name
        margin-bottom: -4px
        margin-top: -6px
        font-size: 32px
        a
          color: #FF3636
      

  #profilePic
    float: left
  #quizContainer
    min-width: 1024px
    height: 540px
    margin-bottom: -80px
  #quiz
    box-sizing: border-box
    background-image: url(itemBg.jpg)
    width: 1024px
    height: 460px
    padding-top: 70px
  #results
    display: none
    height: 516px
    table
      border-spacing: 0px
  #intro
    margin-top: 40px
    width: 500px
  #itemBuild
    width: 1024px
    h2
      margin-top: 64px
  #content
    width: 1024px
    margin-left: auto
    margin-right: auto
  #message
    text-decoration: none
    margin: 20px
    margin-left: auto
    margin-right: auto
    width: 650px
    padding: 20px
    padding-left: 30px
    background-color: #067dec
    font-family: 'Open Sans', sans-serif
    font-size: 26px
  #answers
    margin: 10px
    margin-left: auto
    margin-right: auto
    width: 700px
    font-family: 'Open Sans', sans-serif
    text-transform: uppercase
    font-size: 26px
    div
      float: left
      width: 200px
      padding: 10px
      padding-top: 20px
      padding-bottom: 20px
      background-color: #067dec
      text-align: center
      cursor: pointer
      margin-right: 20px
    div:last-child
      margin-right: 0px
    div:hover
      background-color: #168dfc
  #description
    color: #fff
    padding: 20px
    text-align: center
    height: 112px
  //prng
  #prngGraph
    margin-top: 40px
  .quote
    text-align: center
    font-family: 'Exo', Georgia, serif
    font-style: italic
    font-size: 28px
    margin: 40px
    color: #fff
  #canvasLabel
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
    font-size: 14px
    color: #666
    margin-top: 4px
    text-align: center
    #colorLabels
      color: #aaa
      width: 600px
      margin-left: auto
      margin-right: auto
      height: 40px
      margin-top: 10px
      .label
        float: left
        margin-left: 30px
      .four, .one
        width: 20px
        height: 20px
        display: inline-block
        position: relative
        top: 5px
      .four
        background-color: #168dfc
      .one
        background-color: rgba(250,250,250,1)
  #build
    .ministep
      padding: 10px
      background-image: url('item_guide_spacer2.png')
      background-position: center center
      background-repeat: no-repeat
    .step
      width: 200px
      font-size: 10px
      font-family: sans-serif
      clear: bottom
      padding-top: 10px
      padding-bottom: 10px
      margin: 10px
      color: #fff
      .item
        margin: 10px
        margin-left: auto
        margin-right: auto
        background-color: #666
        background-repeat: no-repeat
        //box-shadow: inset 0 0 12px 0 rgba(7,7,6,1)
        width: 85px
        height: 64px
        background-image: url(gray_bg_items.png)
      .orSpacer
        text-align: center
      .description
        display: none
      .tango
        //background-image: url(http://cdn.dota2.com/apps/dota2/images/items/tango_lg.png)
        background-position: 0 -64px * 5
      .clarity
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/clarity_lg.png)
      .gg
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/branches_lg.png)
      .circlet
        //background-image: url(http://cdn.dota2.com/apps/dota2/images/items/circlet_lg.png)
        background-position: 0 -64px * 7
      .quelling
        //background-image: url(http://cdn.dota2.com/apps/dota2/images/items/quelling_blade_lg.png)
        background-position: 0 -64px * 2
      .salve
        //background-image: url(http://cdn.dota2.com/apps/dota2/images/items/flask_lg.png)
        background-position: 0 -64px * 6
      .wraithBand
        background-position: 0 -64px * 8
      .aquila
        background-position: 0 -64px * 9
      .diffusal
        background-position: 0 -64px * 11
      .ringOfProtection
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/ring_of_protection_lg.png)
      .ringOfBasilus
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/ring_of_basilius_lg.png)
      .powerTreads
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/power_treads_lg.png)
      .phaseBoots
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/phase_boots_lg.png)
      .medallion
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/medallion_of_courage_lg.png)
      .vlads
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/vladmir_lg.png)
      .bkb
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/black_king_bar_lg.png)
      .deso
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/desolator_lg.png)
      .helmOfDom
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/helm_of_the_dominator_lg.png)
      .morbidMask
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/lifesteal_lg.png)
      .mkb
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/monkey_king_bar_lg.png)
      .maelstrom
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/maelstrom_lg.png)
      .basher
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/basher_lg.png)
      .yasha
        //background-image: url(http://cdn.dota2.com/apps/dota2/images/items/yasha_lg.png)
      .sAndY
        background-position: 0 -64px
      .butterfly
        //background-image: url(http://cdn.dota2.com/apps/dota2/images/items/butterfly_lg.png)
        background-position: 0 -64px * 4
      .satanic
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/satanic_lg.png)
      .mjollnir
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/mjollnir_lg.png)
      .abyssal
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/abyssal_blade_lg.png)
      .manta
        //background-image: url(http://cdn.dota2.com/apps/dota2/images/items/manta_lg.png)
        background-position: 0 -64px * 12
      .skadi
        //background-image: url(http://cdn.dota2.com/apps/dota2/images/items/skadi_lg.png)
        background-position: 0 -64px * 3
      .divine
        background-image: url(http://cdn.dota2.com/apps/dota2/images/items/rapier_lg.png)
      .tpboots
        //background-image: url(http://cdn.dota2.com/apps/dota2/images/items/travel_boots_lg.png)
        background-position: 0 -64px * 10
        
  #skillBuild
    .build
      margin-top: 40px
      padding-bottom: 72px
      div
        float: left
        width: 62px
        height: 62px
        margin: 1px
        background-size: cover
      .q
        background-image: url(q.png)
      .w
        background-image: url(w.png)
      .e
        background-image: url(e.png)
      .r
        background-image: url(r.png)
      .s
        background-image: url(s.jpg)


#nav
  %ul
    %a{:href => "/"}
      %li#profileLink
        jjcm
    %a{:href => "/art"}
      %li#artLink
        art
    %a{:href => "/blog"}
      %li#blogLink
        blog
#content
  #guide
    #header
      %video#hero{:loop => "true", :autoplay => "true"}
        %source{:src => "tb_hero.mp4", :type => "video/mp4"}
      %img#hero_bg{:src=>"hero_bg.png"}
      .howToPlay 
        How To Play 
      %h1 Terrorblade
      .like
        Like 
        .name
          %a{:href=>"http://www.dotabuff.com/players/135732897"}
            DTH.RampageJohnson
        .dotabuffRank
          \#49 Terrorblade in the world

    #introContainer
      #intro
        %p
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel nunc quis diam sodales viverra sed a arcu. Aliquam elementum, neque in viverra fringilla, risus odio tempus ligula, eu aliquet nibh ante id urna. Suspendisse sed tortor eu felis aliquet placerat. Nullam vel justo nec lacus ornare imperdiet et at lorem. Sed ut faucibus nisi. Cras gravida egestas mauris a cursus. Sed in suscipit est, at varius enim. aa

    #itemBuild
      %h2 Item build
      %p
        RJ's core item build is fairly static, with differences in starting build depending on laning. You choice of luxury items will largely depend on the composition of the team you're facing. In general, you have to ask yourself three questions when deciding your item build:


      #quizContainer
        #quiz
          #message
          #answers
        #results
          %table
            %tr#build
            %tr{:style => "border-top: 1px solid #fff;"}
              %td#description{:colspan => 322}


    #position2
      %h2 Jungle
      %p
        Terrorblades high base starting armor and solid agi gain make him a fairly viable jungle. You wont exceed the GPM you'd get from a safelane freefarm, but few enemies expect it, and you can sustain a respectable income during the process. Be sure to use the techniques below to maximize your efficiency.
      %h3 Chokepoints and Cliff Jungling
      %p 
        With any jungler, you'll want to minimize the damage you sustain as you take down the creeps. Carving choke points with quelling blade will allow you to only fight one or two creeps at a time, as opposed to the whole camp. 
      %h4 Carving choke points with quelling blade.
      %video{:loop => "true", :autoplay => "true"}
        %source{:src => "dire_jungle_1.mp4", :type => "video/mp4"}
      %p
        Since terrorblade has a ranged mode as well, it opens up opportunities for him to cliff jungle. Use your quelling blade before the game starts to carve lanes for you to attack creeps from. Be sure to pay attention to your timing - you'll want to stack as many creeps in these camps as you can before you use metamorphosis and take them out. 
      %h4 Cliff jungling on dire.
      %video{:loop => "true", :autoplay => "true"}
        %source{:src => "dire_jungle_2.mp4", :type => "video/mp4"}
      %h4 Cliff jungling on radiant.
      %video{:loop => "true", :autoplay => "true"}
        %source{:src => "radiant_jungle_1.mp4", :type => "video/mp4"}
      %h3 Deathheals
      %p
        One oft-overlooked technique while jungling is dying to heal. Running back to base and then running back to jungle wastes more time than simply buying out, letting yourself die to creeps, respawning, and running back. The seconds you save doing this can often lead to another stack of a camp or another collection of a rune. Don't discount its usefulness. If you are going to death heal, make sure you communicate it to your team - dying to neutrals is often surprising and can easily push already agitated teammates over the edge. Even if something is technically advantageous, it might not be advantageous for the mental state of your team. 
      %h4 Death heals often take less time than walking back to fountain. 
      %video{:loop => "true", :autoplay => "true"}
        %source{:src => "death_heal.mp4", :type => "video/mp4"}
      %p
        Below is a map showing the max level at which dying is faster than walking back to base for each camp. Note that at the furthest camp it hits level 7 for a terrorblade with brown boots. The map will be different for slower heroes (a CM without boots can die and respawn at level 10 faster than it takes her to walk back from the furthest camp), but the values below are a good rule of thumb.
      %h4 Death heal levels by camp
      %img{:src => "deathhealMap.jpg"}

      %p
        Work towards your early game items as suggested in the build. Your objective as a 2 or a 3 is to create chaos so your position 1 can farm. Rotate often - with blur they wont see your rotations on the minimap. If you're ganking everywhere, they'll devote more resources to trying to find you and less resources to trying to shut down your carry. Keep them worried, eat their supports. Get in, crit, then get out and run to another lane. With PA it's all about cardio.
      %p
        If you're building deso, as soon as you have that and vlads go rosh. Dont worry about smoking in, just walk right into the rosh pit. Remember you wont show up on the minimap with blur. As long as your blur status doesnt disappear when you walk in, you didnt show up on the minimap. With deso/medallion/vlads, you can take rosh in about 30-40 seconds. Use your dagger to break his spell shield then blink onto him once it's broken. Keep spamming medallion and blink strike. 

    #skillBuild
      %h2
        Skill Build

      %h4 Lane 
      %p
        I generally go one of two very similar skill builds. If there's a lot of physical harrass in lane I'll go blur at level two:
      .build
        .e
        .q
        .e
        .w
        .e
        .w
        .e
        .w
        .w
        .r
        .s

      %h4 Dire Jungle
      %p
        If I need the extra mobility to evade stuns or as an escape, I'll get blink strike at two instead.
      .build
        .w
        .e
        .e
        .w
        .e
        .w
        .e
        .w
        .r
        .s

      %h4 Radiant Jungle
      %p
        If I need the extra mobility to evade stuns or as an escape, I'll get blink strike at two instead.
      .build
        .w
        .e
        .e
        .w
        .e
        .w
        .e
        .w
        .r
        .s

      %p
        If you want to do a very early rosh, you can max out blur first instead. With maxed out blur you should be able to take rosh with only a medallion, but it cuts down on a lot of your early game ganking capabilities, so it's pretty situational.
    #conclusion
      %h2
        I'M OUT OF WISDOM. GO WRECK HOUSE. GOOD LUCK.

:javascript
  function display(s, option1, option2, option3){
    document.getElementById('message').innerHTML = s;
    var answers = document.getElementById('answers');
    answers.innerHTML = "";
    answers.appendChild(createAnswerButton(option1));
    answers.appendChild(createAnswerButton(option2));
    if(option3)
      answers.appendChild(createAnswerButton(option3));
  }
  function createAnswerButton(option){
    var a = document.createElement('div');
    a.innerHTML = option[0];
    a.onclick = option[1];
    return(a);
  }

  var decisionTree = {
    checkLane : function(){
      display("What lane are you in?",
      ["safe", function(){decisionVariables.buildTips.lane = "safe"; decisionTree.checkBurst()}], 
      ["jungle", function(){decisionVariables.buildTips.lane = "jungle"; decisionTree.checkBurst()}]) 
    },
    checkBurst : function(){
      display("Does the enemy team have three or more nukers (Zeus, Lina, etc)?",
      ["yes", function(){decisionVariables.buildTips.enemyNukes = true; decisionTree.checkMKB()}], 
      ["no", function(){decisionVariables.buildTips.enemyNukes = false; decisionTree.checkMKB()}]);
    },
    checkMKB : function(){
      display("Does their team have multiple heroes who will go MKB?", 
      ["yes", function(){decisionVariables.buildTips.enemyMKB = true; decisionTree.checkRat()}], 
      ["no", function(){decisionVariables.buildTips.enemyMKB = false; decisionTree.checkRat()}]);
    },
    checkRat : function(){
      display("Will you be able to rat full time, or will you need to help in teamfights?", 
      ["rat for days", function(){decisionVariables.buildTips.rat = true; decisionTree.checkSilence()}], 
      ["teamfight", function(){decisionVariables.buildTips.rat = false; decisionTree.checkSilence()}]);
    },
    checkSilence : function(){
      display("Does the enemy have multiple silences?", 
      ["yes", function(){decisionVariables.buildTips.silence = true; decisionTree.checkSpiderNP()}], 
      ["no", function(){decisionVariables.buildTips.silence = false; decisionTree.checkSpiderNP()}]);
    },
    checkSpiderNP : function(){
      display("Does their team have Nature's Prophet or Broodmother?", 
      ["yes", function(){decisionVariables.buildTips.radiance = true; decisionTree.generateBuild()}], 
      ["no", function(){decisionVariables.buildTips.radiance = false; decisionTree.generateBuild()}]);
    },

    generateBuild : function(){
      decisionTree.suggestBuild();
      document.getElementById('message').style.display = "none";
      document.getElementById('answers').style.display = "none";
      document.getElementById('quiz').style.display = "none";
      document.getElementById('results').style.display = "block";
      var dom = document.getElementById('build');

      for(var i = 0; i < decisionTree.build.length; i++){
        var step = document.createElement('td');
        step.className = "step";
        console.log(decisionTree.build[i]);
        var deb = decisionTree.build[i];
        for(var j = 0; j < decisionTree.build[i][0].length; j++){
          var item = document.createElement('div');
          item.className = "item " + decisionTree.build[i][0][j];
          //item.innerHTML = decisionTree.build[i][0][j];
          step.appendChild(item);
          if(j + 1 < decisionTree.build[i][0].length){
            var spacer = document.createElement('div');
            spacer.className = "orSpacer";
            spacer.innerHTML = i < 2 ? "AND" : "OR";
            step.appendChild(spacer);
          }
        }
        if(decisionTree.build[i][1]){
          var description = document.createElement('div');
          description.className = "description";
          description.innerHTML = decisionTree.build[i][1];
          step.appendChild(description);
        }

        step.onmouseenter = function(){
          decisionTree.showDescription(this.children[this.children.length - 1].innerHTML);
        }
        dom.appendChild(step);
        var step = document.createElement('td');
        if(i != decisionTree.build.length - 1){
          step.className = "ministep";
          step.innerHTML = "&nbsp;";
          dom.appendChild(step);
        }
      }
    },

    showDescription : function(s){
      document.getElementById('description').innerHTML = s;
    },

    build : [],

    suggestBuild : function(){
      var build = [];

      if(decisionVariables.buildTips.lane == "jungle"){
        build.push([["circlet", "circlet", "quelling"], "You'll be building out the circlets into wraith bands, and the quelling is necessary to help you cut trees for both cliff jungling and choke-point jungling. Don't worry about healing items - we'll be using death-heals instead as it's faster and more cost effective."]);
      }
      else {
        build.push([["tango", "salve", "circlet", "circlet"], "TB's starting health is one of the worst in the game. He's highly succeptable to magic harass early game - make sure you have enough healing to survive the early assault."]);
      }
      build.push([["wraithBand", "aquila", "brownboots"], "Finish your wraith bands and build an aquila. These two items combined with quelling blade and TB's excellent starting armor should let you jungle extremely efficiently."]);
      if(decisionVariables.buildTips.radiance)
        build.push([["radiance"], "Normally radiance isn't that great of an item. While it helps your farm, it makes your illusions as fragile as glass and doesn't help much for taking objectives. The exception to this is if they have a Brood or NP. Both create massive amounts of creeps, and TB doesn't have a way of dealing with large crowds easily. Radiance is a good counter to either of these heroes."]);
      else
        build.push([["yasha"], "Yasha is a great source of early agi and will accelerate your farm. Remember though that you're going to be squishy, so use the extra move speed to avoid confrontations if they present themselves."]);
      build.push([["tpboots"], "TP boots are the core of any rat build. They'll boost your farm, and let you take key objectives when your opponent is distracted elsewhere."]);
      if(decisionVariables.buildTips.silence)
        build.push([["manta"], "Manta is great for breaking silences that would otherwise prevent you from getting off a life-saving ult. If the enemy team is packing silences, it's a great choice. It will also boost your tower taking abilities quite a bit."]);
      else if(decisionVariables.buildTips.rat)
        build.push([["manta"], "Manta won't come online as fast as S&Y, but it will make your end game rat better. If your team can make space, get manta. It will also help purge silences in a pinch"]);
      else
        build.push([["sAndY"], "S&Y provides a much needed HP boost for the quite squishy TB, and the movement speed helps with the ratty nature of this build."]);

      build.push([["skadi"], "Skadi provides you with the means to close distance to get your Q off, as well as a ton of tankiness/damage for your illusions."])
      if(decisionVariables.buildTips.enemyNukes){
        build.push([["skadi"], "If the enemy team is packing heavy nukes, a second skadi is an excellent choice. It provides tons of agi for your illusions and the tankiness you need to survive burst damage."])
        build.push([["butterfly"], "Few heroes want to expend many spells on illusions. Once your illusions are tanky enough, the evasion will mean MKB carriers of the team (generally carries) will have to commit to defending your split pushes. Not only that but the added ability to tank tower shots is really nice."])
      }
      else
        build.push([["butterfly"], "Few heroes want to expend many spells on illusions. Once your illusions are tanky enough, the evasion will mean MKB carriers of the team (generally carries) will have to commit to defending your split pushes. Not only that but the added ability to tank tower shots is really nice."])
      if(decisionVariables.buildTips.enemyMKB) build.push([["diffusal"], "Diffusal is a nice end game item choice, especially with the mana burn now working (slightly) for ranged illusions in 6.84. It provides great stats for a fairly low cost, and will give your images a nice boost in damage."])
      else if(!decisionVariables.buildTips.radiance) build.push([["butterfly", "diffusal"], "Diffusal is a nice end game item choice, especially with the mana burn now working (slightly) for ranged illusions in 6.84. It provides great stats for a fairly low cost, and will give your images a nice boost in damage. If you're rolling in gold, don't be afraid to go a second butterfly, especially if they're lacking MKBs on the team."])


      decisionTree.build = build;
      console.log(build);

    }
  }


  var decisionVariables = {
    buildTips : {
      farmPriority : 2,
      lane : "middle",
      enemyDamageType : "physical",
      enemyLockdown : true,
      enemyMKB : true,
      omniRepel : false,
      cmAura : false,
      vladsCarrier : false,
      playerCanMicro : false
    }
  };

  decisionTree.checkLane();
